@import '../../sass/utils/variables';

.Footer {
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  background-color: $gray-200;
  border: $border-width solid $border-color;
  & p {
    display: flex;
    align-items: center;
  }
}